<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.meetme">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        tools:replace="android:supportsRtl,android:allowBackup"
        android:theme="@style/Theme.MeetMe">
        <activity android:name=".MyProfileActivity"></activity>
        <activity android:name=".AboutActivity" />
        <activity android:name=".ChatActivity1" />
        <activity
            android:name=".Fragment.Fragment_signUp_first"
            tools:ignore="Instantiatable" />
        <activity android:name=".MatchingActivity" />
        <activity android:name=".SignUpActivity" />
        <activity
            android:name=".LoginActivity"
            tools:ignore="Instantiatable" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>